.ballRoom{
    position: fixed;
    bottom: 0px;
    height: 670px;
    width: 105%;
    left: -75px;
}

.headerOuter2-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -2%;
    width: 102%;
    border-top: 50px solid;
  }
  
  .headerInner-1 {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    
    margin-top: 20px;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    padding: 20px;
}



