html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #FFF7FC;
}

body {
  background-image: url("animalBack.png");
  background-repeat: no-repeat; 
  background-position: center;
}


.headerOuter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0%;
  margin-left: 10%;
  margin-right: 10%;
  width: 75.5%;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 60px solid;
}

.headerInner {
  color: rgb(255, 255, 255);

  margin-top: -20px;
  position: absolute;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  padding: 20px;
}


.loginComp {
  border-style: solid;
  border-color: rgb(103, 0, 77);
  border-width: 2px;
  width: 450px;
  margin: auto; /* Center horizontally */
  height: 350px;
  margin-top: 100px; /* Adjust top margin as needed */
  border-radius: 20px;
  text-align: center;
  background-color: rgb(245, 178, 249);

}

.Wel{
  background-color: rgb(245, 178, 249);
  
  margin-top: 0%;
  text-align: center;
  height: 50px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: rgb(255, 255, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UserName{
  font-size: 18px;
  margin-top: 50px;
}

.UserInput {
  width: 300px;
  padding: 5px; /* Add padding for better visual appearance */
  border: 2px solid; /* Add a border */
  border-radius: 5px; /* Rounded corners */
  outline: none; /* Remove outline when focused */
  transition: border-color 0.3s ease; /* Smooth transition for border color change */
  margin-left: 5px;
  border-color: rgb(231, 127, 222);
  
}

.UserInput:focus {
  border-color: #4d3bf0;; /* Change border color when input is focused */
}


/* Optional: Style for disabled input */
.UserInput:disabled {
  background-color: #e77fde; /* Change background color for disabled state */
  color: #999; /* Change text color for disabled state */
}

.Password{
    font-size: 18px;
    margin-top: 30px;
}

.PassInput{
  width: 300px;
  padding: 5px; /* Add padding for better visual appearance */
  border: 2px solid #ccc; /* Add a border */
  border-radius: 5px; /* Rounded corners */
  outline: none; /* Remove outline when focused */
  transition: border-color 0.3s ease; /* Smooth transition for border color change */
  margin-left: 5px;
  border-color: rgb(231, 127, 222);
}

.PassInput:focus {
   /* Change border color when input is focused */
  border-color: #4d3bf0;
}


/* Optional: Style for disabled input */
.PassInput:disabled {
  background-color: #f0f0f0; /* Change background color for disabled state */
  color: #999; /* Change text color for disabled state */
}

.Login {
  background-color: #53adea;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  margin-right: 10px;
}

.Login:hover{
  background-color: rgb(88, 114, 210);
}


.SignUp {
  background-color: #a385db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
}

.SignUp:hover{
  background-color: #8666c0;
}

.Reg{
  background-color: rgb(245, 178, 249);
  
  margin-top: 0%;
  text-align: center;
  height: 50px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: rgb(255, 255, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BLogin:hover{
  
  cursor: pointer;
  color: blue;
}