.storePage{
    width: 100%;
    height: 100vh;
    background-image: url(../Assets/Backgrounds/stars.png), radial-gradient(circle, rgba(113, 113, 255, 0.722), rgba(148, 244, 255, 0.755), rgba(0, 187, 255, 0.727), rgb(65, 65, 122));

}


.StoreCon {
    position: fixed;
    width: 100%;
    
    height: 500px;
    top: 18%;
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto the next line if needed */
    justify-content: center; /* Centers the items horizontally */
    align-items: center; /* Centers the items vertically */
    box-sizing: border-box; /* Ensures padding is included in the width */
}

.Scon {
    width: 350px;
    height: 450px;
    
    border-style: solid;
    display: flex; /* Flexbox layout for centering content within the box */
    justify-content: center; /* Centers content horizontally */
    border-radius: 8px;
    border: 5px solid rgb(255, 217, 0); /* Inner border */
    border-radius: 20px;
    box-shadow: 0 0 0 6px rgba(255, 242, 103, 0.8);
}


.Scon1{
    background-image: url(../Assets/Backgrounds/sup5.jpg);
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image within the container */
    margin: 10px;

}

.Scon2{
    background-image: url(../Assets/Backgrounds/sup2.jpg);
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image within the container */
    margin: 10px;
    

}

.Scon3{
    background-image: url(../Assets/Backgrounds/sup3.jpg);
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image within the container */
    margin: 10px;

}

.Scon4{
    background-image: url(../Assets/Backgrounds/sup4.jpg);
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image within the container */
    margin: 10px;

}

.label{
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 60px;
    margin: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 4px;
}

.price {
    backdrop-filter: blur(15px); /* Applies a blur effect to the background */
    width: 200px;
    height: 50px;
    margin: 10px;
    position: fixed;
    bottom: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: double;
    border-width: 6px;
    border-color: white;
    color: white;

}